In [3]:
import pandas as pd
import numpy as np
import requests

In [55]:
# Fetch the price of token0 (DeFi asset, against token1 in USDC)
uniswap_api_key = "2b45e1f034a61c2f41bf4bcd6731335a"
subgraph_id = "5zvR82QoaXYFyDEKLZ9t6v9adgnptxYpKpSbxtgVENFV"
url = f"https://gateway.thegraph.com/api/{uniswap_api_key}/subgraphs/id/{subgraph_id}"

pool_address = "0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8".lower()

query = """
query GetPoolPrice($id: ID!) {
  pool(id: $id) {
    id
    token0Price
    sqrtPrice
    liquidity
  }
}
"""

variables = {
    "id": pool_address
}

response = requests.post(url, json={"query": query, "variables": variables}).json()

# The price of executing an infintestimally small buy order (not accounting for slippage)
uniswap_price_small = response['data']['pool']['token0Price']
print(uniswap_price_small)

3207.108379976377299522057980143507

In [56]:
# Fetch current coinbase order book ask data
product_id = 'ETH-USD'
url = f"https://api.exchange.coinbase.com/products/{product_id}/book?level=2"
out = requests.get(url).json()
bids = out['bids']
bids_df = pd.DataFrame(columns=['Price', 'Size (Units Coin)', 'Num Orders'], data=bids)
bids_df.head(20)

      Price Size (Units Coin)  Num Orders
0   3195.91        0.93663002           3
1    3195.9        0.16331064           3
2    3195.8        0.15469739           2
3   3195.75             0.001           1
4   3195.74        0.28037381           1
5    3195.7             0.154           1
6    3195.6             0.001           1
7   3195.58        0.00046856           1
8   3195.56         0.4411289           1
9   3195.45             0.001           1
10  3195.39        0.00070756           1
11  3195.38            0.4875           1
12  3195.32         0.4331394           1
13  3195.31           0.28321           1
14   3195.3        0.44231663           2
15  3195.23         0.1553216           1
16  3195.22        0.15648333           1
17  3195.15             0.001           1
18  3195.11        0.05155183           1
19   3195.1        0.60031802           1