In [3]:
import pandas as pd
import numpy as np
import requests

In [79]:
# Fetch the price of token0 (DeFi asset, against token1 in USDC)
uniswap_api_key = "2b45e1f034a61c2f41bf4bcd6731335a"
subgraph_id = "5zvR82QoaXYFyDEKLZ9t6v9adgnptxYpKpSbxtgVENFV"
url = f"https://gateway.thegraph.com/api/{uniswap_api_key}/subgraphs/id/{subgraph_id}"

pool_address = "0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8".lower()

query = """
query GetPoolPrice($id: ID!) {
  pool(id: $id) {
    id
    token0Price
    sqrtPrice
    liquidity
  }
}
"""

variables = {
    "id": pool_address
}

response = requests.post(url, json={"query": query, "variables": variables}).json()

# The price of executing an infintestimally small buy order (not accounting for slippage)
uniswap_price_small = response['data']['pool']['token0Price']
print(uniswap_price_small)

3193.3503487559175333764333181631

In [80]:
# Fetch current coinbase order book ask data
product_id = 'ETH-USD'
url = f"https://api.exchange.coinbase.com/products/{product_id}/book?level=2"
out = requests.get(url).json()
bids = out['bids']
bids_df = pd.DataFrame(columns=['Price', 'Size (Units Coin)', 'Num Orders'], data=bids)
bids_df.head(20)

      Price Size (Units Coin)  Num Orders
0   3198.52        0.39330885           2
1   3198.45             0.001           1
2    3198.3             0.001           1
3   3198.18        0.03752134           1
4   3198.17         0.1553216           1
5   3198.15             0.001           1
6    3198.1             0.323           1
7   3198.06        0.15634435           1
8      3198             0.324           2
9   3197.95        0.01172334           1
10  3197.94             0.512           1
11   3197.9             0.323           1
12  3197.85             0.001           1
13   3197.8             0.323           1
14  3197.73        0.48011748           1
15  3197.71            0.4875           1
16   3197.7             0.001           1
17  3197.68               0.2           1
18  3197.58        0.49999655           1
19  3197.56        0.49699363           1

In [72]:
print(uniswap_price_small)
arbitrage = bids_df[bids_df['Price'] > uniswap_price_small]
arbitrage.head(50)

3193.350344570224152693813559937875

       Price Size (Units Coin)  Num Orders
7851  999.99        5.00620292           2
7852   999.9        0.00000047           1
7853  999.25         0.0124087           1
7854     999       93.04308743          11
7855  998.56         0.0370748           1
7856     998        5.12274549           2
7857  997.99        0.81008716           1
7858  997.87                 5           1
7859  997.46                 2           2
7860  997.02        0.04610575           1
7861     997        0.29909729           1
7862     996         0.9751506           1
7863  995.25        0.00499372           1
7864     995        0.08125431           1
7865  994.35                 1           1
7866     993                 7           1
7867  992.13        0.05009424           1
7868     992               0.5           1
7869  991.56              0.02           1
7870  990.11        0.39914756           1
7871     990               1.4           2
7872  989.01        0.30017012           1
7873  987.82        0.01006256           1
7874  987.31        0.01420379           1
7875     987        0.10070921           1
7876  986.51               1.5           1
7877  985.23              2.85           1
7878     985        0.00599999           1
7879  981.76         1.0124674           1
7880  981.09        0.03979815           1
7881     980        3.15552551           5
7882  979.03        1.01692491           1
7883   976.4        0.09337457           1
7884  975.46        0.02042146           1
7885     975        6.25487179           3
7886   974.1         0.0370748           1
7887  972.78        0.04725462           1
7888     971                 3           1
7889  969.69        0.07688024           1
7890     968        0.14289256           1
7891     966                 1           1
7892     965             1.075           1
7893  964.69        0.05183013           1
7894  963.18        0.01455963           1
7895  962.48         0.1247882           1
7896     962             0.051           1
7897     959        0.15547445           1
7898  957.01        0.04079954           1
7899     957                 1           1
7900     955        1.35597559           4